# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/node:12
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: update npm
          command: sudo npm i -g npm@^6.2
      - run: npm ci
      - run: npm run lint
      - run: npm test
      - run:
          name: dependency vulnerability scan
          command: |
            npm audit
      - deploy:
          command: ./.circleci/deploy.sh
